body {
    background-color: #272727;
    font-family: Comic Sans MS;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  #theme-editor {
    background-color: #1a1a1a;
    border: 1px solid #303030;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
  }
  
  .theme-option {
    display: flex;
    margin-bottom: 10px;
  }
  
  .theme-option label {
    flex: 1;
  }
  
  .theme-option input {
    flex: 3;
  }
  
  #save-theme {
    background-color: #131313;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  #save-theme:hover {
    background-color: #000000;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  input[type="color"] {
    margin-left: 10px;
  }
  #goback {
    position: fixed;
    top: 0;
    background-color: #131313;
    margin: auto;
    margin-top: 1px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  