.goggle {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.errormessage {
    font-family: Comic Sans MS;
    text-align: center;
    display: none;

    font-size: 80px;
}
.vfitad {
    margin: auto;
    display: grid;

    transition: all 1s;
}
.before {
    text-align: center;
    font-family: Comic Sans MS;

    transition: all 1s;
}