#search {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 800px;
    position: fixed; 
    left: 50px;
    top: 15%; 
}
#search:focus {outline:none;}
.goggle {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    position: relative; 
    left: calc(50% - 200px);
    top: 90px; 
}
.findtwtr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative; 
    left: 750px;
    top: 50px; 
    left: calc(50% - 310px);

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.addtab {
    margin: 1px -1px; /* Add this line to center the element horizontally */
    width: 200px;
    position: relative;
    top: 97px;
    left: 52.2%;
    transform: translate(-50%, -50%);

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab2 {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 70px;
    top: 10px;

    display: none;

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab2:hover {
    color: #e8eaed;
    cursor: pointer;
}
.tab1 {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 79px;
    top: 10px;

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab1:hover {
    color: #e8eaed;
    cursor: pointer;
}
.addtab:hover {
    color: #e8eaed;
    cursor: pointer;
}
.pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}
.avdecor {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}

.body {
    background-color: #202124;
}

.goggleOne {
    display: block;
}
.goggleTwo {
    display: none;
}

#search {
    height: 40px;
    width: 40%;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;

    background-color: #20212400;
    
}

@media screen and (max-width:440px), screen and (max-height:940px) {
    .goggle {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px; 
        position: relative; 
        left: calc(50% - 170px);
        top: 80px; 
    }
    .findtwtr {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        position: relative; 
        left: 750px;
        top: 15px; 
        left: calc(50% - 310px);

        display:none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .addtab {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        position: relative; 
        left: 750px;
        top: 15px; 
        left: calc(50% - 310px);

        display:none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .tab2 {
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        position: fixed; 
        left: 70px;
        top: 10px;

        display: none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .tab2:hover {
        color: #e8eaed;
        cursor: pointer;
    }
    #search {
        height: 40px;
        width: 80%;
    
        position: relative;
        margin-left: 0px;
        margin-right: auto;
        top: 250px;
    
        background-color: #20212400;
    }
}

.context-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.context-menu div {
    margin-bottom: 10px;
}

.context-menu button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: block; /* Add this line to make each button appear below each other */
    margin-bottom: 5px; /* Add this line to add some spacing between each button */
}