#search {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 800px;
    position: fixed; 
    left: 50px;
    top: 15%; 
}
#search:focus {outline:none;}
.goggle {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    position: relative; 
    left: calc(50% - 200px);
    top: 80px; 
}
.findtwtr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative; 
    left: 750px;
    top: 15px; 
    left: calc(50% - 310px);

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    left: calc(50% - 200px);
    top: -290px;
    left: -0px;
}


.body {
    background-color: #181818;
}

.goggleOne {
    display: block;
}
.feelinlucky {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    margin: auto;
    opacity: 0;
    transition: all 1s;
}


.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url(https://cdn.discordapp.com/attachments/920952514323546115/924006969336037376/sedf.gif);
    background-position: center;
}
#character {
    width: 20px;
    height: 50px;
    background-image: url(https://cdn.discordapp.com/attachments/920952514323546115/924129344790626314/ezgif-3-4758b12164.gif);
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block {
    background-image: url('https://cdn.discordapp.com/attachments/920952514323546115/924009934641840168/ezgif-2-17ab284b2e.gif');
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
h1 {
    font: bold;
    font-family: 'Comic Sans MS';
}
.oops {
    font-family: Comic Sans MS;
    text-align: center;
    margin-top: 2%;

    font-size: 30px;
}
.offlinegame {
    display: none;
}
