@font-face {
    font-family: 'Typographia';
    src: url(Fonts/DroplineRegular-Wpegz.otf);
}
body {
    background-image: linear-gradient(120deg, rgb(22, 22, 22), rgb(20, 20, 20));
    color: rgb(199, 199, 199);
    font-family: 'Typographia';
}
#search {
    height: 40px;
    width: 70%;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;

    font-family: 'Typographia';

    background-color: #2b2b2b00;
}
.pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}
.avdecor {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}

@media screen and (max-width:440px), screen and (max-height:940px) {
    .pfp {
        display: none;
    }
}

.context-menu {
    position: absolute;
    background-image: linear-gradient(120deg, rgb(22, 22, 22), rgb(20, 20, 20));
    border: 1px solid #202020;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.context-menu div {
    margin-bottom: 10px;
}

.context-menu button {
    background-color: #cecece;
    color: #353535;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}