#search {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 800px;
    position: fixed; 
    left: 50px;
    top: 15%; 
}
#search:focus {outline:none;}
.goggle {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    position: relative; 
    left: calc(50% - 200px);
    top: 80px; 
}
.findtwtr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative; 
    left: 750px;
    top: 15px; 
    left: calc(50% - 310px);

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.addtab {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative; 
    left: 750px;
    top: 15px; 
    left: calc(50% - 310px);

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab2 {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 70px;
    top: 10px;

    display: none;

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab2:hover {
    color: #e8eaed;
    cursor: pointer;
}
.tab1 {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 79px;
    top: 10px;

    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #e8eaed;
    font-weight: 1000;
    font-size: 20px;
}
.tab1:hover {
    color: #e8eaed;
    cursor: pointer;
}
.addtab:hover {
    color: #e8eaed;
    cursor: pointer;
}
.pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}
.avdecor {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    left: 10px;
    top: 10px;
}


.body {
    background-color: #181818;
}

.goggleOne {
    display: block;
}
.goggleTwo {
    display: none;
}
.feelinlucky {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    margin: auto;
    opacity: 0;
    transition: all 1s;
}


.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url(https://cdn.discordapp.com/attachments/920952514323546115/924006969336037376/sedf.gif);
    background-position: center;
}
#character {
    width: 20px;
    height: 50px;
    background-image: url(https://cdn.discordapp.com/attachments/920952514323546115/924129344790626314/ezgif-3-4758b12164.gif);
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block {
    background-image: url('https://cdn.discordapp.com/attachments/920952514323546115/924009934641840168/ezgif-2-17ab284b2e.gif');
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
.offlinegame {
    display: none;
}

#search {
    height: 40px;
    width: 40%;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;

    background-color: #20212400;
    
}

@media screen and (max-width:440px), screen and (max-height:940px) {
    .goggle {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px; 
        position: relative; 
        left: calc(50% - 170px);
        top: 80px; 
    }
    .findtwtr {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        position: relative; 
        left: 750px;
        top: 15px; 
        left: calc(50% - 310px);

        display:none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .addtab {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        position: relative; 
        left: 750px;
        top: 15px; 
        left: calc(50% - 310px);

        display:none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .tab2 {
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        position: fixed; 
        left: 70px;
        top: 10px;

        display: none;

        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: #e8eaed;
        font-weight: 1000;
        font-size: 20px;
    }
    .tab2:hover {
        color: #e8eaed;
        cursor: pointer;
    }
    #search {
        height: 40px;
        width: 80%;
    
        position: relative;
        margin-left: 0px;
        margin-right: auto;
        top: 250px;
    
        background-color: #20212400;
    }
}